* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.style {
  justify-content: center;

}

.background {
  background-color: beige;
}

.buku:hover {
  scale: 1.05;
}

.box {
  box-sizing: border-box;
}

.color{
  color: yellow;
}